.footer {
	background-color: black;
	width: 100%;
	height: 70px;
	margin: auto;
	position: relative;
	text-align: center;
}

.footer-logo {
	width: 60px;
	height: 50px;
	margin: 10px;
}

.git-logo {
	width: 60px;
	height: 50px;
	position: absolute;
	margin: 10px 20px;
	right: 0;
}
